<div class="row">
    <div class="col-md-4">
        <form action="/send-sms" method="POST" class="card card-body">
            <div class="form-group">
                <input type="text" name="msg" class="form-control" placeholder="Mensaje" autofocus>
            </div>
            <div class="form-group">
                <input type="tel" name="phone" class="form-control" placeholder="+01456237895" autocomplete="off">
            </div>
            <button class="btn btn-primary btn-block">
                Enviar
            </button>
        </form>
    </div>
</div>